/* loading screen  */
.bg_color{
    background-color: var(--bgColo);
}
.Movies{
    font-family: var(--FountFamilyGlobal);
    padding: 70px 20px;
}
.Movies p{
    color: var(--secondFontColor);
    font-weight: 300;
}
.myImage{
    position: relative;
    cursor: pointer;
}
.wrapper p{
    color: var(--fontColor);
    padding-top:10px;
}
.rating{
    position: absolute;
    width: 30px;
    height: 35px;
    background-color: var(--lightBgColor);
    top: 0;
    right: 0;
}
.rating p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}